@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --white: #f0f0f0;
  --light: #f8f8f8;
  --black: #1a1a1a;
  --line: #d6d6d6;
  --grey: #8a8a8a;
  --blue: #1992e6;
  --today: #505050;
  --green: #0eaa50;
}
body {
  background-color: var(--white);
}
.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  width: min(700px, 100%);
  margin: 0 auto;
  padding: 0 16px;
  font-size: 16px;
}
.box {
  height: min(100px, 100%);
  aspect-ratio: 1;
  padding: 8px;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  cursor: pointer;
}
.week {
  font-weight: 500;
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}
.today {
  position: relative;
  color: var(--light);
  transition: all 0.5s;
}
.today:hover {
  color: var(--black);
  transition: all 0.5s;
}

.today::after {
  content: "";
  z-index: -1;
  aspect-ratio: 1;
  position: absolute;
  background-color: var(--green);
  border-radius: 50%;
  height: 100px;
  bottom: 0px;
  left: 0px;
  animation: slideUp 0.5s linear 0s 1 forwards;
}
.today:hover::after {
  animation: slideDown 0.5s linear 0s 1 forwards;
}

.row {
  margin: 24px auto 0px auto;
  width: min(100%, 700px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col span {
  font-size: 24px;
  font-weight: 300;
  color: var(--blue);
}
.btn {
  width: 50px;
  aspect-ratio: 1;
  border: none;
  background-color: var(--white);
  border-radius: 50%;
  color: var(--black);
  display: inlin-flex;
  justify-content: center;
  align-items: center;
}
.btn span:nth-child(2) {
  padding-left: 50px;
}
.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.btn:hover {
  cursor: pointer;
}
.hide {
  visibility: hidden;
}
/* Animation */
@keyframes slideDown {
  0% {
    height: 40px;
    bottom: calc(50% - 20px);
    left: calc(50% - 20px);
  }
  70% {
    height: 12px;
    bottom: 44px;
    left: calc(50% - 6px);
  }
  100% {
    height: 12px;
    bottom: 0px;
    left: calc(50% - 6px);
  }
}
@keyframes slideUp {
  0% {
    height: 12px;
    bottom: 0px;
    left: calc(50% - 6px);
  }
  70% {
    height: 12px;
    bottom: 44px;
    left: calc(50% - 8px);
  }
  100% {
    height: 40px;
    bottom: calc(50% - 20px);
    left: calc(50% - 20px);
  }
}
@media only screen and (max-width: 536px) {
  .container {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
    width: 36px;
  }
}
